<h1>Want a score for your Artwork?</h1>
<h2>Upload your artwork</h2>
<h3>Get a rarity score</h3>
<h4>Register it in our library to be seen by our community</h4>

<%= simple_form_for @artwork do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.submit 'Upload and compare' %>
<% end %>
