<div class="home-container">
<ul>

<h1 class="mb-5">Be part of our community and upload your artwork</h1>

<div>
<h4>Research the prices of comparable artists</h4>
<h4>Do not undersell your work or yourself</h4>
<h4>Have confidence and stand by your price</h4>
<h4>Do not let emotions get in the way</h4>
</div>
</ul>
<%= simple_form_for @artwork do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.submit 'Upload' %>
<% end %>
</div>
