<div class="cards-container-show">
  <div class="card-show-info">
    <ul>
      <p>Width : <%= @artwork.width %></p>
      <p>Height : <%= @artwork.height %></p>
      <p>Pixels : <%= @artwork.number_of_pixel_in_image %></p>
      <p>Colors : <%= @artwork.colors %></p>
    </ul>
  </div>

  <div class="card-product-show">

    <%= cl_image_tag @artwork.photo.key %>

      <div class="card-product-infos-show">
        <h2><%= @artwork.name %></h2>
        <p><%= @artwork.description %></p>
      </div>

  </div>

  <div class="card-show-info">
    <ul>
    <p>Rate this artwork</p>
    <p>give us your estimate price for this artwork (£)</p>
    </ul>
  </div>
</div>
