<% content_for :meta_title, "#{@artwork.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @artwork.description %>
<% content_for :meta_image, cl_image_path(@artwork.photo.key) %>

<div class="container margin-top: 100px;">
  <div class="cards-container-show">
    <div class="card-product-show">
      <%= cl_image_tag @artwork.photo.key %><br>
    </div>
    <div class="card-show-info">
      <ul>
        <div class="card-product-infos-show">
          <span class="row mx-0 w-100"><h2 id="art_name"><%= @artwork.name %></h2></span>
          <p id="description_art"><%= @artwork.description %></p>
            <%= link_to artworks_path query: @artwork.user.name do %>
              <p id="artist_signature">by <%= @artwork.user.name %></p>
            <% end %>

          <div class="input-user">
          <div class="card-input-user">
          <p>Trouver un titre !</p>
            <% unless ArtworkPrice.find_by(user: current_user, artwork: @artwork) %>
            <%= simple_form_for [@artwork, @artwork_price] do |f| %>
            <%= f.input :price_estimation %>
            <% end %>
            <% end %>
            Users estimated price: <%= @artwork.artwork_prices.average(:price_estimation)%>€


        <p>Score :
        <% if @artwork.score %>
          <% if @artwork.score.between?(0, 78)#1étoiles %>
            <%= @artwork.score %> <br>
            <i class='fas fa-star'></i>
            <% 4.times do %>
              <i class="far fa-star"></i>
            <% end %>
          <% elsif @artwork.score.between?(78, 96)#2étoiles %>
            <%= @artwork.score %> <br>
            <% 2.times do %>
              <i class='fas fa-star'></i>
            <% end %>
            <% 3.times do %>
              <i class="far fa-star"></i>
            <% end %>
          <% elsif @artwork.score.between?(96, 114)#3étoiles %>
            <%= @artwork.score %> <br>
            <% 3.times do %>
              <i class='fas fa-star'></i>
            <% end %>
            <% 2.times do %>
              <i class="far fa-star"></i>
            <% end %>
          <% elsif @artwork.score.between?(114, 132)#4étoiles %>
            <%= @artwork.score %><br>
            <% 4.times do %>
              <i class='fas fa-star'></i>
            <% end %>
            <% 1.times do %>
              <i class="far fa-star"></i>
            <% end %>
          <% elsif @artwork.score.between?(132, 150)#5étoiles %>
            <%= @artwork.score %> <br>
            <% 5.times do %>
              <i class='fas fa-star'></i>
            <% end %>
          <% elsif @artwork.score.between?(150, 250)#5goldétoiles %>
          <%= @artwork.score %> <br>
          <% 5.times do %>
            <i class='fas fa-star' style="color: yellow;"></i>
          <% end %>
          <% else %>
            NO RATE YET
          <% end %>
        <% else %>
          NO RATE YET
        <% end %> </p>

                      <div>
          <% unless Upvote.find_by(user: current_user, artwork: @artwork) %>
            <%= link_to "upvote",artwork_upvotes_path(@artwork), method: :post, class:  'btn-uniqueness-upvote' %>
          <% else %>
            <div class="btn-uniqueness-upvote upvoted">You already upvoted</div>
          <% end %>
        </div>

          <p>Upvotes: <%= @artwork.upvotes.count %></p>
      </div>

    </ul>
  </div>
</div>


<%= render 'shared/burger_menu' %>
