<div class="cards-container-show">
  <div class="card-show-info">
    <ul>
    <div class="card-product-infos-show">
      <h2><%= @artwork.name %></h2>
      <p><%= @artwork.description %></p>
      <br>
      <br>
      <br>
      Originality rate --->  <%= @artwork.score %>
      <br>
      <br>
      <br>
      Upvotes ---> <%= @artwork.upvotes.count %>
      <br>
      <br>
      Number of voters ---> <%= @artwork.artwork_prices.count %>
      <br>
      <br>
      Users estimate price ---> <%= @artwork.artwork_prices.average(:price_estimation) %>
    </div>
    <br>
      <br>
    <div class="card-input-user">
      <% unless ArtworkPrice.find_by(user: current_user, artwork: @artwork) %>
      <%= simple_form_for [@artwork, @artwork_price] do |f| %>
      <%= f.input :price_estimation %>
      <% end %>
      <% end %>
      <% unless Upvote.find_by(user: current_user, artwork: @artwork) %>
      <%= link_to "upvote",artwork_upvotes_path(@artwork), method: :post, class:  'btn-uniqueness-upvote' %>
      <% end %>
    </div>
    </ul>
  </div>
  <div class="card-product-show">
    <%= cl_image_tag @artwork.photo.key %><br>
  </div>
</div>
<%= render 'shared/burger_menu' %>

