<div class="cards-container-show">
  <div class="card-show-info">
    <ul>
      <div class="card-product-infos-show">
        <h2><%= @artwork.name %></h2>
        <p><%= @artwork.description %></p>
        <br>
        <br>
        <br>

        <p>Upvotes: <%= @artwork.upvotes.count %></p>
        <%# <p>Number of voters:</p><%= @artwork.artwork_prices.count %>
        <p>Users estimated price:</p><%= @artwork.artwork_prices.average(:price_estimation) %>
      
      </div>

      <p>Score :
      <% if @artwork.score %>
        <% if @artwork.score.between?(60, 78)#1étoiles %>
          <%= @artwork.score %> <br>
          <i class='fas fa-star'></i>
          <%# <br><p>Petite explication</p> %>
        <% elsif @artwork.score.between?(78, 96)#2étoiles %>
          <%= @artwork.score %> <br>
          <% 2.times do %>
            <i class='fas fa-star'></i>
          <% end %>
          <%# <br><p>Petite explication</p> %>
        <% elsif @artwork.score.between?(96, 114)#3étoiles %>
          <%= @artwork.score %> <br>
          <% 3.times do %>
            <i class='fas fa-star'></i>
          <% end %>
          <%# <br><p>Petite explication</p> %>
        <% elsif @artwork.score.between?(114, 132)#4étoiles %>
          <%= @artwork.score %> <br>
          <% 4.times do %>
            <i class='fas fa-star'></i>
          <% end %>
          <%# <br><p>Petite explication</p> %>
        <% elsif @artwork.score.between?(132, 150)#5étoiles %>
          <%= @artwork.score %> <br>
          <% 5.times do %>
            <i class='fas fa-star'></i>
          <% end %>
          <%# <br><p>Petite explication</p> %>
        <% else %>
          NO RATE YET
        <% end %>
      <% else %>
        NO RATE YET
      <% end %></p>
    </ul>
  </div>

  <div class="card-product-show">

    <%= cl_image_tag @artwork.photo.key %><br>

    <%# <%= link_to "Redirect to marketplace", @artwork.marketplace_url, class: "btn-uniqueness", target: "_blank" %>

  </div>


  <%# <div class="card-input-user">
    <% unless ArtworkPrice.find_by(user: current_user, artwork: @artwork) %>
      <%# <%= simple_form_for [@artwork, @artwork_price] do |f| %>
        <%# <%= f.input :price_estimation %>
      <%# <% end %>
    <%# <% end %>

    <%# <%= simple_form_for @artwork do |f| %>
      <%# <%= f.input :marketplace_url, input_html: { value: f.object.marketplace_url || "https://www." } %>
      <%# <%= f.submit %>
    <%# <% end %>


    <% unless Upvote.find_by(user: current_user, artwork: @artwork) %>
      <%= link_to "upvote",artwork_upvotes_path(@artwork), method: :post, class:  'btn-uniqueness-upvote' %>
    <% end %>
  </div>
</div>

<%= render 'shared/burger_menu' %>
