<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <%# <h5 id="offcanvasRightLabel">Menu</h5> %>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
   <%= link_to 'Explore', artworks_path, class:  'burger-link' %>
   <%= link_to 'My artworks', dashboard_path, class:  'burger-link' %>
   <%= link_to 'Upload an artwork', new_artwork_path, class:  'burger-link' %>
    <% if current_user %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, class:  'burger-link' %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, class:  'burger-link' %>
    <%end %>
  </div>
</div>
