<% display_score = display_score || false %>
<div class="card-product-index">
  <% if artwork.photo.attached? %>
  <%= cl_image_tag artwork.photo.key %>
  <% end %> <br>

  <div class="card-product-infos-index">
    <h2>
      <%= artwork.name %><br>

      <% if artwork.score %>
        <% if artwork.score.between?(0, 50) %>
          GOOD
        <% elsif artwork.score.between?(50, 100) %>
          NOT GOOD
        <% else %>
          BLC
        <% end %>
      <% else %>
        NO SCORE
      <% end %>
      <%= artwork.score %>

      <% if display_score %>
        |<%= artwork.score %>|
      <% end %>
    </h2>
    <p><%= artwork.description %></p>

  </div>
</div>
