<div class="container">
  <div class="home-container">
    <div class="half-home-1">
      <h1><span class="color-orange">Freedom</span> <span class="color-salmon">from</span> <span class="color-blue">ambiguity</span></h1>
      <p>Uniqueness provides an easy to use, comprehensive tool to compare, rate and upvote various work from an array of different artists and creators.</p>
      <%= link_to 'Explore', artworks_path, class:  'btn-uniqueness' %>
    </div>
    <div class="half-home-2">
      <%= image_tag('unsplash_NTYYL9Eb9y8.jpg') %>
    </div>
  </div>
  <div class="home-container">
    <div class="half-home-3">
      <%= image_tag('the-wall-part2.jpg') %>
    </div>
    <div class="half-home-4">
      <h2> Raphael Lacoste </h2>
      <div class="w-100">
        <%= image_tag('Ancient_World_Rlacoste.jpg', class: "mb-4") %>
        <%= image_tag('smoke-on-the-rooftop.jpg') %>
      </div>
    </div>
  </div>
  <div class="home-container">
    Articles
  </div>

  <%= render 'shared/burger_menu' %>
</div>
