
<div class="home-container">
  <div class="half-home-1">
    <div>Freedom for ambiguity </div>
    <div> Let's see if this artwork is original </div>
    <div><%= link_to  %></div>
  </div>
  <div class="half-home-2">
  <%= image_tag('unsplash_NTYYL9Eb9y8.jpg') %>
  </div>
</div>
<div class="home-container">
  <div class="half-home-3 home-img">
  <h2> Raphael Lacoste </h2>
  <%= image_tag('the-wall-part2.jpg') %>
  </div>
  <div class="half-home-4 home-img-2">
    <%= image_tag('Ancient_World_Rlacoste.jpg') %>
    <%= image_tag('smoke-on-the-rooftop.jpg') %>
  </div>
</div>
<div class="home-container">
Articles
</div>
